#!/bin/sh /etc/rc.common

. /lib/opensync_functions.sh

START=50
NAME=port_isolation

CPU_PORT="{{CONFIG_QCA_L2SWITCH_PORT_ISOLATION_CPU}}"
IF_PORTS="{{CONFIG_QCA_L2SWITCH_PORT_ISOLATION_PORTS}}"

set_default_group()
{
    for group in /proc/sys/net/edma/default_group?_bmp
    do
        bitshift=$((1 << $1))
        # Sometimes writing to /proc/sys/net/edma/default_group?_bmp fails for
        # some unknown reasion with the error "Operation not permitted".
        # I did try to implement a more complex mechanism of doing this, but
        # messing with these file might freeze the pod. Writing the value twice
        # instead seems to be reliable.
        echo "$bitshift" > "$group" || true
        echo "$bitshift" > "$group" || true
        shift
    done
}

start()
{
    for port in $IF_PORTS
    do
        ssdk_sh portvlan ingress set $port disable
    done
    ssdk_sh portvlan ingress set "$CPU_PORT" fallback

    for port in $IF_PORTS
    do
        ssdk_sh portvlan member update $port 1
    done

    for port in $CPU_PORT $IF_PORTS
    do
        ssdk_sh fdb portlearn set $port disable
    done
    ssdk_sh fdb entry flush 1

    for port in $IF_PORTS
    do
        ssdk_sh portvlan egress set $port unmodified
    done

    set_default_group $IF_PORTS
}
