menuconfig PLATFORM_IS_QCA
    bool "Qualcomm"
    help
        Support for Qualcomm QSDK, various versions

if PLATFORM_IS_QCA

config QCA_SDK_PATH
    string "Qualcomm SDK PATH"

config QCA_RATE_HISTO_TO_EXPECTED_TPUT
    bool "Use MCS histograms to compute expected throughput phyrates"
    default y
    help
        This makes sense only for 11ac and older devices which
        originally were intended to report MCS histograms. Some of
        them couldn't be updated to deliver (reliable) expected
        throughput phyrates. Instead MCS histograms can be utilized to
        estimate them.

        If unsure, say 'y'

menuconfig QSDK_VERSION
    bool "QSDK Version"
    help "Select QSDK Version"

config PLATFORM_QCA_QSDK52
    bool "QSDK 5.2"
    select QSDK

config PLATFORM_QCA_QSDK53
    bool "QSDK 5.3"

config PLATFORM_QCA_QSDK110
    bool "QSDK 11.0"

if PLATFORM_QCA_QSDK110
    config PLATFORM_QCA_QSDK11_SUB_VER4
        bool "QSDK 11.4"
endif

config PLATFORM_QCA_QSDK120
    bool "QSDK 12.0"

config QSDK_VERSION
    hex
    default 0x0502 if PLATFORM_QCA_QSDK52
    default 0x0503 if PLATFORM_QCA_QSDK53
    default 0x1100 if PLATFORM_QCA_QSDK110
    default 0x1200 if PLATFORM_QCA_QSDK120
    default 0

config QCA_USE_SYSUPGRADE
    bool "Use sysupgrade for upgrades"
    default n
    help
        This is a default OpenSync upgrade layer implementation for QCA
        based devices.

config QCA_USE_GRE_NSS
    bool "Use NSS accelerated GRE tunnel"
    default n
    depends on !INET_GRE_USE_GRETAP
    help
        Add support for the NSS GRE (For NSS based QCA platforms only).
        Uses the inet_nssgre_t class as the default GRE implementation.
        This options redefines the inet_gre_new() function to return
        a inet_nssgre_t class.

config QCA_USE_DPP
    bool "Use DPP for WPA Key Management"
    default n
    help
        Add support for WFA Easy Connect (DPP).

config QCA_NF_NAT_HELPERS
    bool "Use preferred OpenSync netfilter NAT helpers"
    default y
    help
        This will overwrite /etc/modules.d/nf-nathelper-extra
        with preferred OpenSync options.

config QCA_HW_ACC_FILE_PATH
    string "Hardware acceleration file path"
    default "/sys/kernel/debug/sfe_drv/flush_mac"
    help
        This is the file where MAC addresses of Openflow rules
        are stored for flushing.

config QCA_HW_ACC_NSS
    bool "Enable NSS acceleration support"
    default n
    help
        Enable NSS acceleration support

config QCA_DISABLE_RDK_STATS
    bool "Disable RDK stats"
    default n
    help
        Disable config "enable_rdk_stats" in global.ini file

endif
